body {
  margin: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
}

#btn-container {
  margin: 0 auto 1rem;
  text-align: center;
}

#textarea-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;

  textarea {
    font-size: 0.75rem;
    width: 80%;
    height: 500px;
    font-family: 'Menlo';
  }
}
